
.filter{
    position: relative;
    display: flex;
    width: 100%;
    z-index: 3;
    background-color: #1b1b1b;
    // color:white;
    // flex-wrap: wrap;
    overflow: auto;
    height: 90px;
   
    // padding: auto auto;
    // margin: auto auto;
    // min-width: "180px";
    // margin-bottom: 50px;
    // padding-top: 30px;
}



.filterHome{
    // position: sticky;
    // top: 100px;
    // padding-top: 300px;
    // padding: 10px 0px 30px 0px;
    // left: 30px;
    //width: 100%;
    
}