.nav123{
    position:sticky;
    top: 50px;
    //left: 40px;
    background-color: #1b1b1b;
    //background-color: blue;
        color:white;
    z-index: 333;
    //margin-top: 50px;
    padding: 30px;
}

.filter{
    position: relative;
    height: 50px;
    display: flex;
    width: 100%;
    z-index: 3;
    background-color: #1b1b1b;
    color:white;
    // padding-top: 30px;
}

.filterHome{
    position: sticky;
    top: 100px;
}