// .blue{
//     background-color: blue;
// }
.sideImage{
   width: 305px;
   height: 100%;
   top: 130px;
   bottom: 74px;
   right: 0;
   position: fixed;
   flex-direction: column;
   overflow: hidden;
   z-index: 9999999;
}


.space-top-home{
    position: relative;
    top:100px;
}

.backgroundColour{
    background-color: #1b1b1b;
    color:white;
    
}
