// .blue{
//     background-color: blue;
// }
.sideImage{
  top: 100px;
  bottom: 74px;
  right: 0;
  left: auto;
  position: fixed;
  flex-direction: column;
  overflow: hidden;
  z-index: 9999999;
}


.space-top-home{
    // position: relative;
    // top:100px;
    // bottom: 1000px;
    // // bottom:-250px;
    // margin-bottom: 1.5%;
    // margin-top: 1.5%;
}

.backgroundColour{
    background-color: #1b1b1b;
    color:white;
}

.space-top2 {
    position: relative;
    top: 100px;
    // bottom: 900px;
    // margin-top: 75px;
    // margin-bottom: 300px;
}