.headerHome{
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // position: sticky;
    // top: 0;
    width: 100%;
    z-index: 4;
   
    //height: 100px;
    background-color: #222428;
    flex-wrap:wrap !important;
    padding: auto auto;
    margin: auto auto;
    padding-bottom: 0 !important;
    //overflow: auto;
    // align-items:center;
    // justify-content: center;
}