.headerHome{
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // position: sticky;
    // top: 0;
    width: 100%;
    z-index: 4;
    padding: 10px 20px;
    height: 100px;
    background-color: #222428
}