.m-card {
    // width: 12rem;
    width: 250px;
    border: none !important;
    --bs-bg-opacity:0 !important;
    // align-items: flex-start;
    margin-right: 1cm;
    height: 275px;
}

.m-card-myMusic {
    width: 14rem;
    // width: 250px;
    border: none !important;
    --bs-bg-opacity: 0 !important;
    // align-items: flex-start;
    margin-right: 1cm;
    margin-bottom: 40px;
    // height: 350px;
}

.m-card-image{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.m-card-text{
    text-align: left;
    color: hsla(0, 0%, 100%, .9);
    padding: 0;
    margin: 0 0 1.5cm 0px;
}

.m-grid{
    display: grid;
    grid: repeat(1,auto) / auto-flow;
}
